<section id="section-first">

    <div class="container__background-triangle">

	<div class="triangle triangle1"></div>
	<div class="triangle triangle2"></div>
	<div class="triangle triangle3"></div>
    </div>

    <div class="container-card">
	<div class="card">
	    <div class="cover__card">
		<img src="{{url_for('static', filename='perfil.jpeg')}}" alt="Esleider">
	    </div>

	    <h2>Desarrollo con pasión, aplicaciones y sitios web </h2>

	    <p>Hola, Me llamo Esleider Jesús Meza Rios,<br> me considero un desarrollador 
	    muy versátil con mucho ánimo y ganas de aprender cada día nuevas habilidades 
	    y fortalecer mis conocimientos. Soy el tipo de persona que doy todo de mi para dar los mejores 
	    resultado, sea individualmente o en equipo  <br><br>! Espero trabajemos juntos ¡</p>

	    
	   
	</div>


	<div class="card">
	    <h2>BACK END</h2>
	    <small>Años de experiencia</small>
	    <div class="skills__header">
		<span class="skills-level">0</span>
		<span class="skills-level">3</span>

	    </div>
	    
	    <h3>  <i class="fa-brands fa-python"></i>PYTON</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills python"></div>
		</div>
	    </div>

	    <h3> <i class="fa-brands fa-php"></i>PHP</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills php"></div>
		</div>
	    </div>

	    <h3> <i class="fa-brands fa-js"></i>JAVASCRIPT</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills javascript"></div>
		</div>
	    </div>

	    <h3><i class="fa-brands fa-java"></i> JAVA</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills java"></div>
		</div>
	    </div>

	</div>


	<div class="card">
	    <h2>FRONT END</h2>
	    <small>Años de experiencia</small>
	    <div class="skills__header">
		<span class="skills-level">0</span>
		<span class="skills-level">3</span>

	    </div>
	    
	    <h3> <i class="fa-brands fa-html5"></i> HTML</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills html"></div>
		</div>
	    </div>

	    <h3> <i class="fa-brands fa-css3"></i> CSS</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills css"></div>
		</div>
	    </div>

	    <h3><i class="fa-brands fa-js"></i>JAVASCRIPT</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills javascript"></div>
		</div>
	    </div>

	    <h3><i class="fa-brands fa-css3"></i>React</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills react"></div>
		</div>
	    </div>

	</div>
	<div class="card">
	    <h2>MORE TECHNOLOGY</h2>
	    <small>Años de experiencia</small>
	    <div class="skills__header">
		<span class="skills-level">0</span>
		<span class="skills-level">3</span>

	    </div>
	    
	    <h3><i class="fa-solid fa-database"></i>SQL / MONGODB</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills sql"></div>
		</div>
	    </div>

	    <h3><i class="fa-solid fa-flask"></i>FLASK</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills flask"></div>
		</div>
	    </div>


	    <h3><i class="fa-solid fa-t"></i>TKINTER</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills tkinter"></div>
		</div>
	    </div>


	    <h3><i class="fa-brands fa-github"></i>GITHUB</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills git"></div>
		</div>
	    </div>


	    <h3><i class="fa-brands fa-node"></i>NODEJS</h3>
	    <div class="content-skill">
		
		<div class="container-skills">
		    <div class="skills node"></div>
		</div>
	    </div>








	</div>


    </div>

	<!---------------------------------------------------------------------->


</section>


