<section id="section-second">

    <div class="hero">

	    <div class="hero-content">
	    <div class="media__cover_pro">

		<img src="{{ url_for('static', filename='3610761.jpg')}}" alt="">
	    </div>


		<div class="contenedor_proyects">


			<h2 class="titulo">MY PROJECTS</h2>

			<div class="contenedor-articulos">

			    <div class="articulo">

				<i class="fa-solid fa-envelope-circle-check"></i>
				<h3>Control email</h3>
				<p>Una aplicación que envía correos utilizando la API de sengrid.
				<a href=" https://protected-fjord-86033.herokuapp.com/" target='_blank'>Link aquí --> </a></p>
				

			    </div>
			    <div class="articulo">

				<i class="fa-brands fa-python"></i>
				<h3>Libreta de clientes</h3>
				<p>Una aplicación para gestionar mis clientes.
				<a href="{{ url_for('static', filename='libreta_de_cliente') }}">Donwload --> </a></p>


			    </div>
			    <div class="articulo">

				<i class="fa-solid fa-clipboard-list"></i>
				<h3>Gestor de tareas</h3>
				<p>Un gestor de tareas sencillo codificado con python y tkinter.
				<a href="{{ url_for('static', filename='bd') }}">Donwload --> </a></p>


			    </div>

			    <div class="articulo">

				

				<i class="fa-brands fa-github"></i>
				<h3>Git-Github</h3>
				<p>Repositorios de cada uno de los proyectos en git.
				<a href="https://github.com/kritc/proyects.git" target='_blank'>Link aquí --> </a></p>

			    </div>

			</div>



	    </div>

	</div>

    </div>


    </section>
