<header>
	<div class="logo"> ESLEIDER MEZA</div>
    

    <nav>
        <ul>
	    <li><a href="{{ url_for('portfolio.index') }}" class="select">HOME</a></li>

        </ul>
    </nav>
</header>





<div class="hero">

	    <div class="hero-content">

		<div class="left">

		    <h1>Excelente! correo <br> enviado</h1>

		    <p>Muchas gracias, pronto me pondré en contacto con ustedes.</p>

		    

		</div>

		<div class="section_media__cover">
		    <img src="{{ url_for('static', filename='mensaje_enviado.svg')}}" alt="">
		</div>


	    </div>

</div>


